@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@mixin fontStyle {
    font-family: 'Lato', sans-serif;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}


///Navbar///

* {
    @include fontStyle;

    p, h1, h2, h3 {
        cursor: default;
    }
}

.headerNavbar {
    background-color: #0C0C0C;
    padding: 0 !important;
    height: 70px;
    border-bottom: 1px solid grey;

    .headerNav {
        @include row;
        align-items: center;

        .nav-link {
            color: white;
            margin: 0 10px 0 0 !important;
        }
    
        img {
            height: 40px;
            width: auto;
            margin: 5px 30px;
            border: 1px solid grey;
            border-radius: 10%;
        }
    }
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: grey !important;
}


///A propos///

.aProposDiv {
    @include row;
    margin: 50px 0 0 0;
    justify-content: space-between;
    height: 600px;
    color: #FAF0E6;
    font-weight: bold;
    background-color: #14121a;
    position: relative;

    button {
        background-color: #14121a;
        border: none;
        color: #FAF0E6;
        position: relative;
    }

    .lanterneLogo {
        height: 200px;
        width: auto;
        position: absolute;
        margin: 20px 0 0 0;
        opacity: 0.7;
    }

    #lanterneDeux {
        height: 150px;
        margin: 20px 0 0 150px;
    }

    #lanterneTrois {
        margin: 20px 0 0 1230px;
    }

    #lanterneQuatre {
        height: 150px;
        margin: 20px 0 0 1150px;
    }

    .firstSlide {
        @include row;
        width: 80%;
        justify-content: space-around;
        align-items: center;

        div {
            @include column;
            align-items: center;
            z-index: 1;

            h1 {
                margin: 0 0 50px 0;
                font-size: 60px;
            }

            p {
                font-size: 20px;
            }
        }

        .logoImg {
            height: 80%;
            width: auto;
            z-index: 0;
            opacity: 0.3;
            position: absolute;
        } 
    }

    .secondSlide {
        @include column;
        width: 80%;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 0 0 50px 0;
            font-size: 60px;
        }

        .hobbies {
            @include row;

            div {
                margin: 0 15px 0 15px;
                @include column;
                align-items: center;
                justify-content: center;

                img {
                    position: relative;
                    width: 400px;
                    height: auto;
                    border: 3px solid #FAF0E6;
                    border-radius: 5%;
                } 

                p {
                    position: absolute;
                    font-size: 30px;
                    opacity: 0;
                    text-align: center;
                }
            }

            :hover img {
                filter: brightness(30%);
            }

            :hover p {
                opacity: 1;
            }

        }
    }

    .descriptionDiv {
        @include column;
    }
}


///Competences///

#competences {
    background-color: #FAF0E6;
    @include column;
    align-items: center;

    h2 {
        font-weight: bold;
        font-size: 40px;
        margin: 60px 0 0 0;
        color: #14121a;
    }

    .competencesDiv {
        height: 500px;
        @include row;
        align-items: center;

        .competencesCards {
            border: 2px solid darkgrey;
            margin: 0 20px 0 20px;
            height: 400px;
            border-radius: 5%;
            box-shadow: 5px 5px 5px 5px darkgrey;

            img {
                height: 180px;
                object-fit: cover;
                border-radius: 20%;
                opacity: 0.8;
            }

            .cardBody {
                @include column;
                justify-content: space-between;
                align-items: center;

                .cardTitle {
                    font-weight: bold;
                    margin: 20px 0 0 0;

                }

                .cardText {
                    text-align: center;
                }
            }
        }  
    }  
}


///Projets///

#projets {
    height: 600px;
    background-color: #352F44;
    @include column;
    justify-content: center;
    align-items: center;

    h2 {
        color: #FAF0E6;
        margin: 0 0 60px 0;
        font-weight: bold;
        font-size: 40px;
    }

    .projetsDiv {
        @include row;

        .card {
            @include column; 
            margin: 0 20px 0 20px;
            height: 300px;
            width: 300px;
            position: relative;
            background-color: #352F44;
            align-items: center;
            justify-content: center;

            .cardText {
                position: absolute;
                color: white;
                font-weight: bold;
                width: 300px;
                margin: 220px 0 0 0;
                padding: 0 0 0 10px;
                background: rgba(0,0,0,0.5);
                border-bottom-left-radius: 35px;
                border-bottom-right-radius: 35px;
            }            
            
            a {
                border: none;
                width: 100%;
                height: 100%;
                position: relative;
                @include column;
                align-items: center;
                justify-content: center;
                background-color: #352F44;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

                img {
                    object-fit: cover;
                    width: 300px;
                    height: 300px;
                    position: relative;
                    filter: brightness(70%);
                    border-radius: 10%;
                }

                .imgIcon {
                    color: white;
                    position: absolute;
                    font-size: 20px;
                    cursor: pointer;
                }
            } 

            :hover img{
                filter: brightness(50%);
            }
        }
    }
}


///Contact///

#contact {
    height: 600px;
    background-color: white;
    @include column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0 0 60px 0;
        font-weight: bold;
        font-size: 40px;
    }

    .contactDivs {
        @include row;
        width: 90%;
        justify-content: space-around;

        .contactForm {
            @include column;
            text-align: center;
            z-index: 2;
            font-weight: bold;
            width: 40%;
            justify-content: center;
    
            label {
                margin: 0 0 0 0;
            }
    
            input {
                margin: 20px 0 0 0;
            }
    
            input:focus {
                border: 2px solid #cf6a3f;
            }

            textarea {
                height: 150px;
                margin: 20px 0 0 0;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
    
            textarea:focus {
                border: 2px solid #cf6a3f;
            }

            .submitButton {
                background-color: #cf6a3f;
                border: none;
                color: white;
                width: 20%;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                font-weight: bold;
            }

            .contactUser {
                @include row;
                align-items: stretch;
                justify-content: space-around;
                margin: 0 0 20px 0;

                input {
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                }

            }
        }

        img {
            height: 400px;
            width: auto;
            opacity: 0.8;
        }

    }
    
}

///Footer///

.footerDiv {
    @include column;
    align-items: center;
    background-color: #0C0C0C;
    color: white;
    border-top: 1px solid grey;

    .footerLogo {
        width: 70px;
        height: auto;
    }

    p {
        font-size: 15px;
        margin: 20px 0 5px 0;    }

    .footerLinksDiv {
        @include row;

        .linkLogo {

            img {
                height: 50px;
                width: auto;
                opacity: 0.7;
                margin: 10px -7px 0 -7px;
            }
        }
        
    }

}